.cell {
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--tg-theme-button-color, #4bb34b);
    user-select: none;
    padding: 0.5% 2% 0.5% 2%;
    transition: 0.5s;
    filter: none;
    transform: scale(1);
    border: none;
    color: white;
}

@media not (hover: none) {
    .cell:hover {
        user-select: none;
        transition: 0.5s;
        filter: brightness(75%);
        border: none;
        color: white
    }
}

.cell:active {
    transition: 0.1s;
    transform: scale(0.95);
    filter: brightness(50%);
    border: none;
    color: white;
    user-select: none;
}

.celldisable {
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: var(--tg-theme-button-color, #4bb34b);
    filter: brightness(50%);
    user-select: none;
    padding: 0.5% 1% 0.5% 1%;
    border: none;
    color: white
}

.image {
    width: 100%;
    border-radius: 30px;
}

.icongroup {
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 10%;
}

.seperator {
    background-color: rgba(117, 117, 117, 0.25);
    height: 9vh;
    border-radius: 15px;
    width: 0.5vw;
}

.textdivicon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 10px;
}

.textdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
}

.maintext {
    font-size: 0.75em;
}

.bottomtext {
    font-size: 0.5em;
}

.righttext {
    font-size: 20px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}