.cell {
    height: 12.5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 15px;
    background-color: var(--tg-theme-button-color, #4bb34b);
    user-select: none;
    padding: 0.5% 2% 0.5% 2%;
}

.cell:hover {
    transition: 0.5s;
    filter: brightness(75%);
}

.celldisable {
    display: flex;
    align-items: center;
    height: 12.5vh;
    border-radius: 15px;
    background-color: var(--tg-theme-button-color, #4bb34b);
    filter: brightness(50%);
    user-select: none;
    padding: 0.5% 2% 0.5% 2%;
}

.textdiv {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}

.image {
    width: 100%;
    border-radius: 30px;
}

.icongroup {
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 10%;
}

.seperator {
    background-color: rgba(117, 117, 117, 0.25);
    height: 9vh;
    border-radius: 15px;
    width: 0.5vw;
}

.text {
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.maintext {
    font-size: 0.75rem;
}

.bottomtext {
    font-size: 0.5rem;
}

.righttext {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: black;
    width: 40%;
}