.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.25s;
    fill: rgba(91,171,80, 0.25)
}

.icon2 {
    transition: 0.25s;
    fill: rgba(91,171,80, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}


.icon:hover {
    transition: 0.25s;
    fill: rgba(91,171,80, 0.5)
}