.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    transition: 0.25s;
    fill: rgba(91,171,80, 0.25)
}

.icon2 {
    transition: 0.25s;
    fill: rgba(91,171,80, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.icon:hover {
    transition: 0.25s;
    fill: rgba(91,171,80, 0.5)
}