.buttongroup {
    width: 95%;
    border-radius: 30px;
    background-color: rgba(117, 117, 117, 0.25);
    display: flex;
    justify-content: center;
    user-select: none;
}

.buttongroup2 {
    width: 95%;
    user-select: none;
}

.buttongroup3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

}