.window {
    text-align: center;
    /* height: 80vh; */
    height: 76vh;
    background-color: rgba(117, 117, 117, 0.25);
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
}

@media (min-width: 600px) {
    .window {
        height: 85vh;  
    }
}