.window {
    /* height: 80vh; */
    height: 95%;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    margin: 1%;
    padding: 1%;
}

/*@media (min-width: 600px) {
    .window {
        height: 90%;  
    }
}*/